body {
font-family: "Lato", sans-serif;
transition: margin-left .5s;
padding: 0;
margin: 0;
}

.sidebar{
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: black;
overflow-x: hidden;
transition: 0.5s;
padding-top: 10px;
}

.closebtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  color: #F9CB43;
  padding: 10px 10px;
  border-radius: 9px;
  border: 0;
  margin-left: 70%;
  margin-top: 5px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #FBA518;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 9px;
  visibility: visible;
}

.sidebar a {
  padding: 8px 8px 8px 15px;
  text-decoration: none;
  font-size: 15px;
  color: #F9CB43;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  font-size: 1.6em;
  font-weight: bold;
  color: #F9CB43;
  background-color: #f1f1f1;
  margin: Opx 15px 15px 15px;
  border-radius: 8px;
  text-decoration: none;
}

.openbtn :hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
padding: 16pх
}